GAS_API_URL=https://script.google.com/macros/s/DEPLOYMENT_ID/exec
API_SECRET=your_private_api_secret
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change_this_password
SESSION_SECRET=change_this_long_random_string
